<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ticket>
            <version>1.6.0.0</version>
        </Ccc_Ticket>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Ticket before="Mage_Adminhtml">Ccc_Ticket_Adminhtml</Ccc_Ticket>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ccc_ticket>
                    <file>ticket.xml</file>
                </ccc_ticket>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <ticket>
                <class>Ccc_Ticket_Helper</class>
            </ticket>
        </helpers>
        <models>
            <ticket>
                <class>Ccc_Ticket_Model</class>
                <resourceModel>ticket_resource</resourceModel>
            </ticket>
            <ticket_resource>  
                <class>Ccc_Ticket_Model_Resource</class> 
                <entities>
                    <ticket>
                        <table>Ccc_ticket</table>
                    </ticket>
                    <comments>
                        <table>Ccc_comments</table>
                    </comments>
                    <status>
                        <table>Ccc_status</table>
                    </status>
                    <filters>
                        <table>Ccc_filters</table>
                    </filters>
                </entities>
             </ticket_resource> 
        </models>  
        <blocks>
            <!-- <adminhtml>
                <rewrite>
                    <page_menu>Ccc_Ticket_Block_Adminhtml_Button</page_menu>
                </rewrite>
            </adminhtml> -->
            <ticket>
                <class>Ccc_Ticket_Block</class>
            </ticket>
        </blocks>
        <resources>
            <ticket_setup>
                <setup>
                    <module>Ccc_Ticket</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ticket_setup>
        </resources>
    </global>
    </config>